<main id="admin">

    <section>
        <h2>panel admin<h2>

        <a href="admin/story/add">add story</a>

        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- récupération depuis la BDD des éléments à afficher via une boucle -->
                <% for(const story of stories) { %> 
                <tr>
                    <td><%= story.Title %></td>
                    <td><%= story.Contents %></td>
                    <td><%= story.FirstName %> <%= story.LastName %></td>
                    <td><%= story.category_title %></td>
                    <td>
                        <a href="admin/story/edit/<%= story.postID %>">edit</a>
                        <a href="admin/story/delete/<%= story.postID %>">delete</a>
                    </td>
                </tr>
                <% } %> 
            </tbody>

        </table>




    </section>



</main>